<a href="https://colab.research.google.com/github/GraceOby/Course-Codes/blob/main/Web_Scraping_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Top Data Analytics companies**

The aim of this project is to scrape data from GoodFirms website, A site that gathers reviews and reports on 'Top Service Companies and Software Products'.

We will focus on collecting data on Data Analytics companies. Data we will retrieve will include:




*   Review
*   Ratings
*   Year Founded
*   Location, amongst others.

Find below link to the page we will be scraping during this session:
https://www.goodfirms.co/big-data-analytics/data-analytics

**STEPS**


1.   Importing Libraries
2.   Accessing and Downloading Page Html
3.   Extracting needed contents
4.   Converting to DataFrame

*Futher Work:*

Generate questions this Dataset can aid us do some analysis

Clean Dataset

Extract other two pages

**Importing Libraries**

In [1]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup

**Accessing Webpage**

In [2]:
url = "https://www.goodfirms.co/big-data-analytics/data-analytics"
page1 = r.get(url)
page1.status_code

200

In [3]:
page1

**Saving html content for viewing**

In [4]:
with open("page1.html", mode='wb') as openfile:
  openfile.write(page1.content)

In [9]:
with open("page1.html", encoding='utf-8', mode='r') as file:
  bs = BeautifulSoup(file, 'html.parser')

In [11]:
# bs

**Details to extract**

1. firm name
2. firm motto
3. firm reviews

5. firm price
6. firm employee
7. year founded
8. firm location

In [12]:
firm_name = bs.find_all('span', {'itemprop':'name'})
firm_name

[<span itemprop="name">Home</span>,
 <span itemprop="name">big data analytics</span>,
 <span itemprop="name">
 Data Analytics </span>,
 <span itemprop="name">SPEC INDIA</span>,
 <span itemprop="name">instinctools</span>,
 <span itemprop="name">SoluLab</span>,
 <span itemprop="name">Sigma Data Systems</span>,
 <span itemprop="name">NeenOpal Inc.</span>,
 <span itemprop="name">Consagous Technologies</span>,
 <span itemprop="name">NEX Softsys</span>,
 <span itemprop="name">Beyond Key</span>,
 <span itemprop="name">Datapine</span>,
 <span itemprop="name">Dataforest</span>,
 <span itemprop="name">pwrteams</span>,
 <span itemprop="name">Intellias</span>,
 <span itemprop="name">Altar.io</span>,
 <span itemprop="name">Huspi</span>,
 <span itemprop="name">Rudder Analytics</span>,
 <span itemprop="name">Fayrix</span>,
 <span itemprop="name">Accubits</span>,
 <span itemprop="name">OrbitSoft</span>,
 <span itemprop="name">Broscorp</span>,
 <span itemprop="name">Clustox</span>,
 <span itemprop="name">VITech</span>,
 <span itemprop="name">GFAIVE</span>,
 <span itemprop="name">SPRYTE Labs</span>,
 <span itemprop="name">abstractR</span>,
 <span itemprop="name">SetuServ</span>,
 <span itemprop="name">InData Labs</span>,
 <span itemprop="name">Aegis Soft Tech</span>,
 <span itemprop="name">AM-BITS</span>,
 <span itemprop="name">ScaleupAlly</span>,
 <span itemprop="name">ThirdEye Data Inc.</span>,
 <span itemprop="name">CodeCoda Ltd</span>,
 <span itemprop="name">S-PRO</span>,
 <span itemprop="name">Welby Consulting</span>,
 <span itemprop="name">CDN Solutions Group</span>,
 <span itemprop="name">WebClues Infotech</span>,
 <span itemprop="name">MobiDev</span>,
 <span itemprop="name">Prismetric</span>,
 <span itemprop="name">Sunflower Lab</span>,
 <span itemprop="name">Clavax Technologies LLC</span>,
 <span itemprop="name">APPSTIRR</span>,
 <span itemprop="name">Classic Informatics</span>,
 <span itemprop="name">Idealogic</span>,
 <span itemprop="name">OpenGeeksLab</span>,
 <span itemprop="name">TrendLine Global</span>,
 <span itemprop="name">DigiPrima Technologies Pvt. Ltd.</span>,
 <span itemprop="name">HQSoftware</span>,
 <span itemprop="name">BR Softech Pvt Ltd</span>,
 <span itemprop="name">Exceed Team</span>,
 <span itemprop="name">Maxilect</span>,
 <span itemprop="name">Burning Buttons LLC</span>,
 <span itemprop="name">Systango Technologies</span>]

In [14]:
firm_name = bs.find_all('span', {'itemprop':'name'})
firm_motto = bs.find_all('p', {'class':'profile-tagline'})
firm_reviews = bs.find_all('span', {'class':'listinv_review_label'})
firm_price = bs.find_all('div', {'class':'firm-pricing'})
firm_employee = bs.find_all("div", {'class':'firm-employees'})
firm_year = bs.find_all('div', {'class':"firm-founded"})
firm_location = bs.find_all('div', {'class':'firm-location'})

In [15]:
firm_motto[:5]

[<p class="profile-tagline">Enterprise Software, Mobility &amp; BI Solutions</p>,
 <p class="profile-tagline">Delivering the future. Now.</p>,
 <p class="profile-tagline">Blockchain | IoT | Mobility | AI | Big Data</p>,
 <p class="profile-tagline">Discover the world of Big Data with us!</p>,
 <p class="profile-tagline">The Hub Of Data Science Innovation</p>]

In [16]:
firm_reviews[:5]

[<span class="listinv_review_label">4.8 (26 Reviews)</span>,
 <span class="listinv_review_label">4.8 (8 Reviews)</span>,
 <span class="listinv_review_label">5.0 (32 Reviews)</span>,
 <span class="listinv_review_label">4.7 (5 Reviews)</span>,
 <span class="listinv_review_label">5.0 (5 Reviews)</span>]

In [17]:
firm_price[:5]

[<div class="firm-pricing">
 &lt; $25/hr </div>, <div class="firm-pricing">
 $50 - $99/hr </div>, <div class="firm-pricing">
 $25 - $49/hr </div>, <div class="firm-pricing">
 $25 - $49/hr </div>, <div class="firm-pricing">
 $25 - $49/hr </div>]

In [18]:
firm_employee[:5]

[<div class="firm-employees">250 - 999</div>,
 <div class="firm-employees">250 - 999</div>,
 <div class="firm-employees">50 - 249</div>,
 <div class="firm-employees">250 - 999</div>,
 <div class="firm-employees">10 - 49</div>]

In [19]:
firm_location[:5]

[<div class="firm-location">
  India, United States </div>, <div class="firm-location">
 United States, Germany </div>, <div class="firm-location">
 United States, India </div>, <div class="firm-location">
 United States, Australia </div>, <div class="firm-location">
 United States, India </div>]

In [20]:
firm_name[:5]

[<span itemprop="name">Home</span>,
 <span itemprop="name">big data analytics</span>,
 <span itemprop="name">
 Data Analytics </span>,
 <span itemprop="name">SPEC INDIA</span>,
 <span itemprop="name">instinctools</span>]

In [21]:
# so we have to drop the first two rows of firm_name since it contains data before the ones needed.

# We write a function to extract contents in the tags

In [25]:
def retrieve_text(col):
  lst = []

  for tag in col:
    lst.append(tag.text)
  return pd.Series(lst)

In [26]:
company = retrieve_text(firm_name[3:])
company[:5]

0            SPEC INDIA
1          instinctools
2               SoluLab
3    Sigma Data Systems
4         NeenOpal Inc.
dtype: object

In [27]:
# do same for other columns
motto = retrieve_text(firm_motto)
review = retrieve_text(firm_reviews)
price_per_hr = retrieve_text(firm_price)
no_of_employee = retrieve_text(firm_employee)
year = retrieve_text(firm_year)
location = retrieve_text(firm_location)

In [29]:
motto[:5]

0    Enterprise Software, Mobility & BI Solutions
1                     Delivering the future. Now.
2     Blockchain | IoT | Mobility | AI | Big Data
3         Discover the world of Big Data with us!
4              The Hub Of Data Science Innovation
dtype: object

**Create Dataframe**

In [30]:
df = pd.DataFrame()

In [31]:
df["name"] = company
df["motto"] = motto
df["location"] = location
df["year"] = year
df["review"] = review
df["no-of-employees"] = no_of_employee
df["price-per-hr"] = price_per_hr

In [32]:
df.head()

,name,motto,location,year,review,no-of-employees,price-per-hr
0,SPEC INDIA,"Enterprise Software, Mobility & BI Solutions","\n India, United States",1987,4.8 (26 Reviews),250 - 999,\n< $25/hr
1,instinctools,Delivering the future. Now.,"\nUnited States, Germany",2000,4.8 (8 Reviews),250 - 999,\n$50 - $99/hr
2,SoluLab,Blockchain | IoT | Mobility | AI | Big Data,"\nUnited States, India",2014,5.0 (32 Reviews),50 - 249,\n$25 - $49/hr
3,Sigma Data Systems,Discover the world of Big Data with us!,"\nUnited States, Australia",2010,4.7 (5 Reviews),250 - 999,\n$25 - $49/hr
4,NeenOpal Inc.,The Hub Of Data Science Innovation,"\nUnited States, India",2016,5.0 (5 Reviews),10 - 49,\n$25 - $49/hr

In [34]:
df.shape

(51, 7)

**Next Stop, will be data cleaning and Exploration, See YOU there!!!**

**Futher Work:**

Generate questions this Dataset can aid us do some analysis

Clean Dataset

Extract other two pages
**